:root {
  --background: #333333;
  --foreground: #171717;
  --font-montserrat: "Montserrat", sans-serif;
}

* {
  font-family: var(--font-montserrat);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}
